.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 450px;
  transition: all 0.3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  &__check {
    display: flex;
    width: 50%;
    margin-bottom: 16px;
    align-items: center;

    .input {
      position: relative;
      width: 100%;
      max-width: 231px;

      &-container {
        height: 56px;
        width: 100%;
        padding: 15px;
        border: 2px solid #ed6c02;
        border-radius: 4px;
        outline: none;
        font-size: 10px;
        transition: 0.5s;
      }

      &-label {
        position: absolute;
        left: 0;
        padding: 5px 0 5px 5px;
        line-height: 1;
        pointer-events: none;
        font-size: 10px;
        font-weight: 600;
        color: #ed6c02;
        transition: 0.5s;
        border-radius: 100px;
      }

      &-container:valid ~ span,
      &-container:focus ~ span {
        color: #ed6c02;
        transform: translateX(10px) translateY(-5px);
        font-size: 8px;
        padding: 0 3px;
        background: #fff;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      &-container:valid,
      &-container:focus {
        box-shadow: 1px 1px 4px 1px #ed6c02;
      }
    }

    &__not-found {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 16px;

      &-text {
        font-size: 10px;
        font-weight: 600;
        color: #d32f2f;
      }
    }

    &__method {
      &-label {
        font-size: 8px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 600;
        color: #ed6c02;
        text-align: center;
      }
    }
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
    min-width: 231px;
  }
}
