.navbar {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgba(#000, 0.4);
    margin-bottom: 20px;

    &__list {
        display: flex;
        flex-direction: row;
        list-style: none;

        &-item {
            display: inline-block;
            margin: 15px;

            &-link{
                text-decoration: none;
                color: #fff;
            }

            &-link:hover{
                border-bottom: 5px solid #fd3838;
            }
        }
    }

    &__title {
        text-decoration: none;
        color: #fff;
        padding: 0 12px;
    }
}
