.form-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  max-width: 600px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 32px 16px;
  border-radius: 25px;
  height: 450px;
  transition: all 0.3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 100%;
  }

  @media screen and (max-width: 700px) {
    margin: auto 5%;
  }

  a {
    text-decoration: none;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 100%;
    min-width: 231px;
  }

  &__button {
    display: flex;
    margin-top: 16px;
  }
}
