.form-post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  position: relative;
  max-width: 600px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0;

    @media screen and (max-width: 500px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__button {
    display: flex;
    cursor: pointer;
    align-self: flex-start;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 12px 24px;
    margin-top: 16px;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;

    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}
