@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.App {
    box-sizing: border-box;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
    min-height: 100vh;
    font-family: 'Fira Sans', sans-serif;
}
